.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 12px 0 0;
}

.card__love-button {
  background-image: url(../images/Love-Icon.svg);
  background-color: rgba(183, 124, 124, 0);
  width: 23px;
  height: 20px;
  border: none;
}
