.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0 10px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
  max-width: 380px;
}

.card__love-button {
  background-image: url(../images/love-button-hover.svg);
  background-repeat: no-repeat;
  background-size: 23px 20px;
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

.card__love-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__love-button {
    background-size: 20px 18px;
    padding: 0 20px 18px 0;
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
